<?xml version="1.0" encoding="utf-8"?>
<android.support.design.widget.CoordinatorLayout
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:app="http://schemas.android.com/apk/res-auto"
	xmlns:tools="http://schemas.android.com/tools"
	android:layout_width="match_parent"
	android:layout_height="match_parent"
	>
	
	<include
		layout="@layout/content_main" />

	<RelativeLayout
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:layout_width="fill_parent"
		android:layout_height="match_parent"
	android:layout_marginLeft="10dp"
		android:layout_gravity="bottom"
		android:orientation="vertical">

	
	
	
	<android.support.design.widget.FloatingActionButton
			android:layout_marginBottom="10dp"
			android:layout_marginRight = "10dp"
			android:layout_alignParentBottom="true"
			android:layout_alignParentEnd="true"
			android:layout_width="wrap_content"
			android:layout_height="wrap_content"
			android:id="@+id/button_send"
			app:srcCompat="@drawable/send"		 
			/>
	
		
		<EditText
			android:id="@+id/message_txt"
		   
			android:layout_alignParentBottom="true"
			android:layout_alignParentStart="true"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
		    android:layout_toLeftOf="@+id/button_send"
			android:hint="YOUR MESSAGE" />

		
	
		

	<ScrollView
		android:minWidth="25px"
		android:minHeight="25px"
		android:layout_width="fill_parent"
		android:layout_height="fill_parent"
		android:layout_alignParentTop="true"
		android:layout_alignParentStart="true"
		android:layout_above ="@+id/message_txt"
		android:id="@+id/view_scroll" >
		
	<LinearLayout
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:layout_width="fill_parent"
		android:layout_height="fill_parent"
		android:layout_gravity="top"
		android:orientation="vertical">
		
		<TextView
			android:id="@+id/show_txt"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:text=""
			android:textAppearance="?android:attr/textAppearanceLarge" />
		
		

	</LinearLayout>
	</ScrollView>
		
	</RelativeLayout>
	

	</android.support.design.widget.CoordinatorLayout>
